{%- set imageUrl = '' -%}
{%- if data.widget.productImage -%}
  {%- set imageUrl = apos.attachment.url(data.widget.productImage, { size: 'one-half' }) -%}
{%- endif -%}

{%- set buttonClass = 'stripe-checkout-button' -%}
{%- if data.widget.buttonStyle == 'custom' and data.widget.customClass -%}
  {%- set buttonClass = buttonClass + ' stripe-button-custom ' + data.widget.customClass -%}
{%- else -%}
  {%- set buttonClass = buttonClass + ' stripe-button-' + (data.widget.buttonStyle or 'primary') -%}
{%- endif -%}

{%- if data.widget.buttonSize -%}
  {%- set buttonClass = buttonClass + ' stripe-button-' + data.widget.buttonSize -%}
{%- endif -%}

{%- if data.widget.fullWidth -%}
  {%- set buttonClass = buttonClass + ' stripe-button-block' -%}
{%- endif -%}

{%- set currency = data.widget.currency or apos.modules['@bodonkey/stripe-payment'].options.currency or 'usd' -%}
{%- set formattedPrice = apos.modules['@bodonkey/stripe-button-widget'].formatPrice(data.widget) -%}
{%- set currencySymbol = apos.modules['@bodonkey/stripe-button-widget'].getCurrencySymbol(data.widget) -%}

<button class="{{ buttonClass }}"
        data-product-id="widget-{{ data.widget._id }}"
        data-price="{{ data.widget.price }}"
        data-name="{{ data.widget.productName }}"
        data-currency="{{ currency }}"
        data-image="{{ imageUrl }}"
        {{ 'disabled' if data.widget.disabled }}
        aria-label="Purchase {{ data.widget.productName }} for {{ currencySymbol }}{{ formattedPrice }}">
  <span>{{ data.widget.buttonText or 'Buy Now' }}{% if data.widget.showPrice %} - {{ currencySymbol }}{{ formattedPrice }}{% endif %}</span>
</button>